@page "/table"
@attribute [TabItemOption(Text = "Table")]

<PageTitle>Table</PageTitle>

<Table TItem="Foo" AutoGenerateColumns="true" class="table-demo"
       IsStriped="true" IsBordered="true"IsMultipleSelect="true"
       ShowSkeleton="true" ShowToolbar="true" ShowExtendButtons="true"
      
       OnQueryAsync="OnQueryAsync" OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Hobby" Items="GetHobbies(context)" />
    </TableColumns>
</Table>
